---
import Layout from "../layouts/Layout.astro";

// library imports
import { Icon } from "astro-icon";

import ServiceCard from '@components/ServiceCard.astro';
import ProcessCard from '@components/ProcessCard.astro';
import Navigation from '@components/Navigation.astro';
import Footer from '@components/Footer.astro';
---

<Layout title="Bienvenu sur fast Wash Master">

    <!-- Navigation -->
    <Navigation />
    <main>
        <!-- Hero -->
        <section class="section relative overflow-hidden">
            <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
                <div class="max-w-prose text-center mx-auto">
                    <h1 class="block headline headline-h1">
                        Un <span class="text-brand-600">spa</span> pour votre
                        véhicule
                    </h1>
                    <p class="mt-3 text-fs-lg text-text">
                        Faites briller l'intérieur comme l'extérieur de votre
                        voiture, votre utilitaire, votre véhicule de fonction...
                    </p>
                </div>

                <div class="mt-10 relative max-w-5xl mx-auto">
                    <div
                        class="w-full object-cover h-96 sm:h-[480px] bg-[url('../images/car_wash_1.jpg')] bg-no-repeat bg-center bg-cover rounded-xl"
                    >
                    </div>

                    <div
                        class="absolute bottom-12 -start-20 -z-[1] w-48 h-48 bg-gradient-to-b from-brand-500 to-brand-700 p-px rounded-lg"
                    >
                        <div class="bg-dark w-48 h-48 rounded-lg"></div>
                    </div>

                    <div
                        class="absolute -top-12 -end-20 -z-[1] w-48 h-48 bg-gradient-to-t from-brand-500 to-brand-700 p-px rounded-full"
                    >
                        <div class="bg-dark w-48 h-48 rounded-full"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero -->

        <!-- Services -->
        <section id="services" class="section">
          <div class="container">
            
              <!-- Grid -->
            <div class="mt-5 lg:mt-16 grid lg:grid-cols-3 gap-8 lg:gap-12">
              <div class="lg:col-span-1">
                <h2 class="headline headline-h2">
                  Un véhicule étincelant
                </h2>
                <p class="mt-2 md:mt-4 text-offwhite">
                  Un extèrieur et intèrieur impeccable.
                  Offrez à votre véhicule un traitement complet, le tout dans le confort de votre domicile.
                </p>
              </div>
              <!-- End Col -->

              <div class="lg:col-span-2">
                <div class="grid sm:grid-cols-2 gap-8 md:gap-12">
                  <ServiceCard
                    icon="ri:car-washing-line"
                    title="Nettoyage extèrieur"
                    description="Pré-rinçage et rinçage en profondeur. Nettoyage avec des produits spécifiques pour un extèrieur impeccable."
                  />
                  <ServiceCard
                    icon="icon-park-outline:vacuum-cleaner"
                    title="Nettoyage intèrieur"
                    description="Nettoyage des tapis et des bancs en tissu. Nettoyage et protection des surfaces en cuir, plastique, des vitres."
                  />
                  <ServiceCard
                    icon="engine"
                    title="Nettoyage du compartiment moteur"
                    description="Application d'un shampooing neutre et d'un nettoyant toutes surfaces à l'aide d'un pulvérisateur à mousse. Puis séchage et protection des surfaces plastiques et peintes."
                  />
                   <ServiceCard
                    icon="bi:stars"
                    title="Entretient de la carosserie"
                    description="Lustrage de la carroserie dans son ensemble à l'aide de produits dédiés."
                  />
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Grid -->

              <div class="w-full grid gap-6 md:grid-cols-2 lg:grid-gap-8 mt-8 lg:mt-12">
              <img class="w-full aspect-video object-cover rounded-md" src="lustrer-voiture.jpg" alt="home lustrant le capot d'une voiture">
              <img class="w-full aspect-video object-cover rounded-md" src="nettoyage-intérieur-voiture.jpg" alt="homme nettoyant l'habitacle d'une voiture">
          </div>
          </div>

        </section>
        <!-- End Services -->

        <!-- Pricing -->
        <section id="tarifs" class="section">
          <div class="container">
            <!-- Title -->
              <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
                <h2 class="headline headline-h2">Nos tarifs</h2>
                <p class="mt-1 text-gray-600">Pour un véhicule étincelant</p>
              </div>
              <!-- End Title -->

              <!-- Grid -->
              <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:items-center">
                <!-- Card -->
                <article class="flex flex-col border border-brand-600 text-center rounded-md p-8 bg-offwhite ">
                  <h3 class="headline headline-h4 text-dark">Fast (bronze)</h3>
                  <span class="mt-7 font-semibold text-fs-2xl text-brand-700">59€</span>
                  <p class="mt-2 text-sm text-dark">Environ 45 minutes</p>

                  <ul class="mt-7 space-y-2.5 text-sm">
                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                      Nettoyage extérieur à haute pression ou à sec
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                        Shampouinage des sièges et tapis
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                        Nettoyage des vitres
                      </span>
                    </li>
                  </ul>
                </article>
                <!-- End Card -->

                <!-- Card -->
                <article class="flex flex-col border border-brand-600 text-center rounded-md p-8 bg-brand-600 ">
                  <h3 class="headline headline-h4 text-offwhite">Wash (argent)</h3>
                  <span class="mt-7 font-semibold text-fs-2xl text-offwhite">89€</span>
                  <p class="mt-2 text-sm text-offwhite">Environ 90 minutes</p>

                  <ul class="mt-7 space-y-2.5 text-sm">
                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-offwhite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-offwhite">
                      Inclus les avantages de la formule Fast
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-offwhite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-offwhite">
                        Nettoyage et rénovation des plastiques ext/int
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-offwhite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-offwhite">
                      Décrassage des jantes
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-offwhite" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-offwhite">
                        Atténuement des rayures superficielles avec un lustreur
                      </span>
                    </li>
                  </ul>
                </article>
                <!-- End Card -->

                <!-- Card -->
                <article class="flex flex-col border border-brand-600 text-center rounded-md p-8 bg-offwhite ">
                  <h3 class="headline headline-h4 text-dark">Master (or)</h3>
                  <span class="mt-7 font-semibold text-fs-2xl text-brand-700">129€</span>
                  <p class="mt-2 text-sm text-dark">Plus de 2h</p>

                  <ul class="mt-7 space-y-2.5 text-sm">
                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                      Inclus les avantages de la formule Wash
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                        Nettoyage du compartiment moteur
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                        Sous bassement</b>
                      </span>
                    </li>

                  </ul>
                </article>
                <!-- End Card -->

                <!-- Card -->
                <article class="flex flex-col border border-brand-600 text-center rounded-md p-8 bg-offwhite ">
                  <h3 class="headline headline-h4 text-dark">VIP (diamant)</h3>
                  <span class="mt-7 font-semibold text-fs-2xl text-brand-700">159€</span>
                  <p class="mt-2 text-sm text-dark">Plus de 3h</p>

                  <ul class="mt-7 space-y-2.5 text-sm">
                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                      Inclus les avantages de la formule Master
                      </span>
                    </li>

                    <li class="flex space-x-2">
                      <svg class="flex-shrink-0 mt-0.5 h-4 w-4 text-brand-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      <span class="text-dark">
                        Lustrage complet du véhicule
                      </span>
                    </li>

                  </ul>
                </article>
                <!-- End Card -->

              </div>
              <!-- End Grid -->
          </div>

        </section>
        <!-- End Pricing -->

        <!-- Process -->
        <section class="section">
          <div class="container">
             <!-- Title -->
              <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
                <h2 class="headline headline-h2">Comment on procède?</h2>
                <p class="mt-1 text-offwhite">Voici le marche à suivre pour un mission sans encombre</p>
              </div>
              <!-- End Title -->
              <!-- Grid -->
              <div class="mx-auto grid md:grid-cols-3 gap-6 lg:gap-8">
                <ProcessCard 
                  icon="phone-call"
                  title="Prendre RDV"
                  description="Contactez-moi par via Whatsapp et choississez votre formule en fonction de votre besoin."
                />
                <ProcessCard 
                  icon="map-pin"
                  title="Je viens à vous"
                  description="Je me rends sur à votre domicile ou tout autre lieu à votre convenance (et réglementaire) avec le matériel nécessaire à ma mission."
                />
                <ProcessCard 
                  icon="phone-call"
                  title="Règlement"
                  description="Vous me régler par virement ou espèce (prochaînement carte bancaire), contre facture."
                />
              </div>
            <!-- End Grid -->
          </div>
        </section>
    </main>
    <!-- Footer -->
    <Footer />
</Layout>
