---
import Layout from "../layouts/Layout.astro";

// library imports
import { Icon } from "astro-icon";

import Navigation from '@components/Navigation.astro';
import Hero from '@components/Hero.astro';
import Services from '@components/Services.astro';
import Pricing from '@components/Pricing.astro';
import Process from '@components/Process.astro';
import Footer from '@components/Footer.astro';
---

<Layout title="Bienvenu sur fast Wash Master">

    <!-- Navigation -->
    <Navigation />
    <main>
        <!-- Hero -->
        <Hero />

        <!-- Services -->
        <Services />

        <!-- Pricing -->
        <Pricing/>

        <!-- Process -->
       <Process />
       
    </main>
    <!-- Footer -->
    <Footer />
</Layout>
