---
import { Icon } from "astro-icon";

// import components

---

<section id="tarifs" class="section">
          <div class="container">
            <!-- Title -->
              <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
                <h2 class="headline headline-h2">Nos tarifs</h2>
                <p class="mt-1 text-gray-600">Pour un véhicule étincelant</p>
              </div>
              <!-- End Title -->

              <!-- Grid -->
              <ul class="mt-12 grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:items-center">
                <li>
                            <article class="flex flex-col border-2 border-brand-500 text-center text-[1rem] p-6 rounded-2xl shadow-2xl shadow-brand-500/20 lg:p-8">
                                <h3 class="headline headline-4">Fast(bronze)</h3>
                                <span class="mt-5 font-bold text-fs-3xl">
                                    59
                                    <span class="font-bold text-2xl -mr-2">€</span>
                                </span>
                                <div class="card-pricing__details w-full bg-brand-500/20 px-1 rounded-sm py-1">
                                    <span class="text-offwhite">Environ 45mn</span>
                                </div>

                                <ul class="mt-6 space-y-2.5 text-sm">
                                    <li class="flex space-x-2 items-start">
                                        <Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
                                        <span class="text-offwhite text-left leading-tight">
                                            Nettoyage extérieur
                                        </span>
                                    </li>
                                    <li class="flex space-x-2 items-start">
                                        <Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
                                        <span class="text-offwhite text-left leading-tight">
                                            Nettoyage des siéges et banc de tissus
                                        </span>
                                    </li>
                                    <li class="flex space-x-2 items-start">
                                        <Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
                                        <span class="text-offwhite text-left leading-tight">
                                            Nettoyage des vitres intérieur et extérieur
                                        </span>
                                    </li>
                                </ul>
                            </article>
                    </li>
               
                <li>
										<article class="flex flex-col border-2 border-brand-500 text-center text-[1rem] p-6 rounded-2xl shadow-2xl shadow-brand-500/20 lg:p-8">
											<h3 class="headline headline-4">Wash(argent)</h3>
											<span class="mt-5 font-bold text-fs-3xl">
												89
												<span class="font-bold text-2xl -mr-2">€</span>
											</span>
											<div class="card-pricing__details w-full bg-brand-500/20 px-1 rounded-sm py-1">
												<span class="text-offwhite">Environ 90mn</span>
											</div>

											<ul class="mt-6 space-y-2.5 text-sm">
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Formule Fast +
													</span>
												</li>
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Nettoyage et rénovation des plastiques ext/int
													</span>
												</li>
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Décrassage des jantes
													</span>
												</li>
                        <li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Cammouflage des micro-rayures superficielles
													</span>
												</li>
											</ul>
										</article>
								</li>

                <li>
										<article class="flex flex-col border-2 border-brand-500 text-center text-[1rem] p-6 rounded-2xl shadow-2xl shadow-brand-500/20 lg:p-8">
											<h3 class="headline headline-4">Master(or)</h3>
											<span class="mt-5 font-bold text-fs-3xl">
												129
												<span class="font-bold text-2xl -mr-2">€</span>
											</span>
											<div class="card-pricing__details w-full bg-brand-500/20 px-1 rounded-sm py-1">
												<span class="text-offwhite">Plus de 2h</span>
											</div>

											<ul class="mt-6 space-y-2.5 text-sm">
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Formule Wash +
													</span>
												</li>
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Nettoyage du compartiment moteur
													</span>
												</li>
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Nettoyage des sous bassement
													</span>
												</li>
                        <li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Cammouflage des micro-rayures superficielles à l'aide d'un lustreur
													</span>
												</li>
											</ul>
										</article>
								</li>

                <li>
										<article class="flex flex-col border-2 border-brand-500 text-center text-[1rem] p-6 rounded-2xl shadow-2xl shadow-brand-500/20 lg:p-8">
											<h3 class="headline headline-4">VIP(diamant)</h3>
											<span class="mt-5 font-bold text-fs-3xl">
												159
												<span class="font-bold text-2xl -mr-2">€</span>
											</span>
											<div class="card-pricing__details w-full bg-brand-500/20 px-1 rounded-sm py-1">
												<span class="text-offwhite">Environ 3h</span>
											</div>

											<ul class="mt-6 space-y-2.5 text-sm">
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Formule Master +
													</span>
												</li>
												
												<li class="flex space-x-2 items-start">
													<Icon name="check-circle" class="w-4 h-4 text-brand-500 bg-offwhite rounded-full flex-shrink-0" />
													<span class="text-offwhite text-left leading-tight">
														Lustrage complet du véhicule
													</span>
												</li>
                        
											</ul>
										</article>
								</li>
              </ul>
              <!-- End Grid -->
          </div>

        </section>