---
import { Icon } from "astro-icon";

//import components
import ProcessCard from '@components/ProcessCard.astro';
---

 <section class="section">
    <div class="container">
        <!-- Title -->
        <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
            <h2 class="headline headline-h2">Comment on procède?</h2>
            <p class="mt-1 text-offwhite">Voici le marche à suivre pour un mission sans encombre</p>
        </div>
        <!-- End Title -->
        <!-- Grid -->
        <div class="mx-auto grid md:grid-cols-3 gap-6 lg:gap-8">
            <ProcessCard 
                icon="phone-call"
                title="Prendre RDV"
                description="Contactez-moi par via Whatsapp et choississez votre formule en fonction de votre besoin."
            />
            <ProcessCard 
                icon="map-pin"
                title="Je viens à vous"
                description="Je me rends à votre domicile, ou tout autre lieu à votre convenance (et réglementaire), avec le matériel nécessaire à ma mission."
            />
            <ProcessCard 
                icon="phone-call"
                title="Règlement"
                description="Vous me régler par virement ou espèce (prochaînement carte bancaire), contre facture."
            />
        </div>
    <!-- End Grid -->
    </div>
</section>