---
import { Icon } from "astro-icon";

interface Props {
    icon: string;
    title: string;
    description: string;
}

const { icon, title, description } = Astro.props;
---

<article class="ProcessCard border-2 border-brand-500 text-left text-[1rem] p-6 rounded-2xl shadow-2xl shadow-brand-500/20 lg:p-8">
    <Icon name={icon} class="text-brand-600 w-8" />
    <h3 class="headline headline-h4 mt-2 text-offwhite">{title}</h3>
    <p class="description">
        {description}
    </p>
</article>