---
import { Icon } from "astro-icon";

interface Props {
    icon: string;
    title: string;
    description: string;
}

const { icon, title, description } = Astro.props;
---

<article
    class="service__card relative flex flex-col p-8 bg-white text-dark rounded-md shadow-md"
>
    <div
        class="service__card-content space-y-4 md:space-y-6"
        aria-hidden="true"
    >
        <div class="sectionTitle flex justify-start items-center space-x-2">
            <div
                class="inline-flex justify-center items-center w-[3rem] h-[3rem] rounded-md bg-offwhite"
            >
                <Icon name={icon} class="text-brand-600 w-8" />
            </div>
            <h3 class="card__title headline headline-h4 text-dark">{title}</h3>
        </div>
        <p class="card__description">
            {description}
        </p>
    </div>
</article>
