---
import "../styles/global.css";

//import components
interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = "Fast wash master",
	description = "Un SPA pour votre véhicule",
	image = "",
} = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="min-h-screen flex flex-col bg-dark text-offwhite text-fs-base relative"
	>
		<slot />
	</body>
</html>
